<mat-toolbar color="primary" class="toolBar">
  <mat-icon>store</mat-icon>
  <button mat-button routerLink="/dashboard" (click)="[dashboard=true, carte=false]">Santa Lucia</button>
  <span class="example-spacer"></span>
  <button mat-icon-button routerLink="/carte" (click)="[dashboard=false, carte=true]"
    [matBadge]="notification" matBadgePosition="after" matBadgeColor="accent">
    <mat-icon>shopping_cart</mat-icon>
    
  </button>
  <!-- <mat-icon>shopping_cart</mat-icon> -->
</mat-toolbar>

<app-dashboard *ngIf="dashboard" (notify)="incrementCarte($event)"></app-dashboard>
<app-cart *ngIf="carte" [items]="items" (delete)="deleteTask($event)" (cartNum)="cartNum($event)"></app-cart>


<!-- <app-task *ngFor="let task of todo" [task]="task"></app-task> -->
<!-- <div class="content-wrapper">
  
  <button (click)="newTask()" mat-button>
    <mat-icon>add</mat-icon> Add Task
  </button>

  <div class="container-wrapper">
    <div class="container">
      <h2>Backlog</h2>

      <mat-card
        cdkDropList
        id="todo"
        #todoList="cdkDropList"
        [cdkDropListData]="todo | async"
        [cdkDropListConnectedTo]="[doneList, inProgressList]"
        (cdkDropListDropped)="drop($event)"
        class="list">
        <p class="empty-label" *ngIf="(todo|async)?.length === 0">Empty list</p>
        <app-task (edit)="editTask('todo', $event)" *ngFor="let task of todo|async" cdkDrag [task]="task"></app-task>
      </mat-card>
    </div>

    <div class="container">
      <h2>In progress</h2>

      <mat-card
        cdkDropList
        id="inProgress"
        #inProgressList="cdkDropList"
        [cdkDropListData]="inProgress|async"
        [cdkDropListConnectedTo]="[todoList, doneList]"
        (cdkDropListDropped)="drop($event)"
        class="list">
        <p class="empty-label" *ngIf="(inProgress|async)?.length === 0">Empty list</p>
        <app-task (edit)="editTask('inProgress', $event)" *ngFor="let task of inProgress|async" cdkDrag [task]="task"></app-task>
      </mat-card>
    </div>

    <div class="container">
      <h2>Done</h2>

      <mat-card
        cdkDropList
        id="done"
        #doneList="cdkDropList"
        [cdkDropListData]="done|async"
        [cdkDropListConnectedTo]="[todoList, inProgressList]"
        (cdkDropListDropped)="drop($event)"
        class="list">
        <p class="empty-label" *ngIf="(done|async)?.length === 0">Empty list</p>
        <app-task (edit)="editTask('done', $event)" *ngFor="let task of done|async" cdkDrag [task]="task"></app-task>
      </mat-card>
    </div>

  </div>
</div> -->